@*CUSTOMER FOOTER themplate
    This have to be changed according to customers needs
      made by jan Andreassen
*@

@section style{
    <link href="~/Content/Admin.css" rel="stylesheet" />
}


<div id="home-content" class="row">


    <div class="panel panel-default">
        <div class="panel-body">
            <div class="text-center" id="author">
                <div class="col-lg-6">
                    <h4><b>Bondegården A/S </b></h4>
                    <p>
                        <b>Adresse: </b> Bondegården 1, 9999 Landsbyen
                    </p>
                    <p>
                        <b>Mail: </b> site@bondegaarden.dk
                    </p>
                    <p>
                        <b>Mobil: </b> 22222222
                    </p>
                </div>
                <div class="col-lg-6">

                    <h4><b>Contact Via Social Media:</b></h4>
                    <p class="sosmed-author">
                        <a href="#"><i class="fa fa-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>